---
layout: default
---
<div class="tool-title enjeux-title">
    <div class="container-fluid">
        <div class="row">
            <h1>Prendre la mesure des enjeux de l'inclusion numérique</h1>
        </div>
    </div>
</div>
<section id="accueil-enjeux" class="py-5 tool-accueil">
    <div class="container-fluid">
        <div class="row">
            <div class="tool-accueil-title pb-5">
                <h2>Qu’allez-vous trouver ici ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-11 max1200">
                <div class="row">
                    <div class="col-md-6 col-12 pr-5">
                        <p class="big">13 millions de Français sont en difficulté avec le numérique, 40% des Français sont inquiets à l’idée de réaliser des démarches en ligne et 34% des habitants des villes moyennes disent ne pas profiter du tout des opportunités offertes par le numérique.</p>
                        <p>Ces quelques chiffres témoignent de l'urgence de se saisir de la question de l'inclusion numérique, dans un contexte de dématérialisation des services publics et privés. Des enquêtes permettent d’objectiver les pratiques numériques de la population pour comprendre que des fractures persistent entre les habitants en fonction des territoires, des niveaux de revenu et de diplômes ou encore de l'âge.</p>
                    </div>
                    <div class="col-md-6 col-12 pl-5">
                        <p>Vous pouvez consulter sur cette page :</p>
                        <a href="#pratiques" class="primary-button my-4 px-4 row">
                            <p class="col-10">Des études généralistes sur les pratiques numériques des Français
                            </p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <a href="#inclusion" class="primary-button my-4 px-4 row">
                            <p class="col-10">Des rapports plus spécifiquement dédiés à la thématique de l’inclusion numérique</p> <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include enjeux/pratiques.html %}
{% include enjeux/inclusion.html %}
