---
layout: default
---

<div class="tool-title initiative-title">
    <div class="container-fluid">
        <div class="row">
            <h1>Découvrir les initiatives d'inclusion numérique	</h1>
        </div>
    </div>
</div>
<section id="accueil-initiative" class="py-5 tool-accueil">
    <div class="container-fluid">
        <div class="row">
            <div class="tool-accueil-title pb-5">
                <h2>Qu’allez-vous trouver ici ?</h2>
                <div class="row">
                    <div class="col-11 max1200">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <p class="big">Divers acteurs ont déjà engagé des initiatives ou des stratégies d’inclusion numérique. </p>
                                <p>Afin de permettre le partage et la mutualisation de bonnes pratiques, cet espace permet de les documenter.</p>
                                <p>Venez contribuer et partager vos initiatives !</p>
                            </div>
                            <div class="col-md-6 col-12">
                                <p>Vous trouverez ici :</p>
                                <a href="#strategies-locales" class="primary-button my-5 px-4 row">
                                    <p class="col-10">Les stratégies locales d'inclusion numérique menées par les collectivités territoriales</p>
                                    <span class="col-2">
                                        <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                        <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                                    </span>
                                </a>
                                <a href="#initiatives-diverses" class="primary-button my-5 px-4 row">
                                    <p class="col-10">Les initiatives en faveur de l'inclusion numérique menées par tout type d'acteur</p>
                                    <span class="col-2">
                                        <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                        <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include initiative/strategies-locales.html %}
{% include initiative/initiatives-diverses.html %}
