---
layout: default
---

<div class="tool-title orientation-title">
    <div class="container-fluid">
        <div class="row">
            <h1>Orientations nationales</h1>
        </div>
    </div>
</div>
<section id="accueil-orientation" class="py-5 tool-accueil">
    <div class="container-fluid">
        <div class="row">
            <div class="tool-accueil-title pb-5 max1200">
                <h2>Qu’allez-vous trouver ici ?</h2>
                <div class="row">
                    <div class="col-md-6 col-12 pr-5">
                        <p>Le Secrétaire d’Etat chargé du Numérique, Mounir Mahjoubi, a lancé en décembre 2017 à Bordeaux une <strong>Stratégie nationale pour un numérique inclusif.</strong> L’objectif est d’accompagner celles et ceux qui sont en difficulté face au développement toujours plus rapide des technologies et usages numériques. Des rapporteurs (associations de collectivités territoriales, opérateurs de service public, acteurs de la médiation numérique, …) ont été mandatés pour travailler collectivement à construire une feuille de route pour l’inclusion numérique.</p>
                        <p>Pour cela, 4 groupes de travail ont été identifiés :</p>
                        <ul class="px-3">
                            <li class="py-3">Groupe de travail 1 : <strong>Atteindre et orienter les publics cibles,</strong> qui permettra de définir les catégories d’usagers en situation d’exclusion numérique et de construire les parcours d’orientation adaptés à chacun de ces publics</li>
                            <li class="py-3">Groupe de travail 2 : <strong>Structurer l’offre de médiation et de formation,</strong> visant à qualifier et structurer l’offre de formation dans les territoires</li>
                            <li class="py-3">Groupe de travail 3 : <strong>Consolider économiquement et augmenter la capacité d’action des acteurs</strong></li>
                            <li>Groupe de travail 4 : <strong>Recenser des stratégies locales inspirantes et construire des modèles de gouvernance territoriale</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12 pl-5">
                        <p>Une plateforme de contribution et des auditions ont permis de recueillir les témoignages des acteurs concernés de près ou de loin par l'inclusion numérique. Ces contributions ont nourri les réflexions des rapporteurs et ont permis l'élaboration du présent site. Il s’agit de fixer un cadre national pour la mise en place de stratégies locales d’inclusion numérique sur l’ensemble du territoire.</p>
                        <p> Vous pouvez consulter ici les convictions et ambitions communes partagées à l’issue de la Stratégie Nationale pour un Numérique Inclusif :</p>
                        <a href="#cadrage" class="primary-button my-5 px-4 row">
                            <p class="col-10">Le cadrage de référence du Secrétaire d’Etat sur le sujet</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <a href="#gouvernance" class="primary-button my-5 px-4 row">
                            <p class="col-10">Les recommandations en termes de gouvernance pour la mise en place d’une stratégie locale</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <a href="#rapport" class="primary-button my-5 px-4 row">
                            <p class="col-10">Le rapport synthétisant l’ensemble des contributions lors de la période de consultation ainsi que les recommandations formulées</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include cadrage.html %}
<div class="container-fluid">
    <div class="row">
        {% include orientation/gouvernance.html %}
        {% include orientation/rapport.html %}
    </div>
</div>
