---
layout: default
---

<div class="tool-title strategie-title">
    <div class="container-fluid">
        <div class="row">
            <h1>Comment élaborer ma stratégie locale d'inclusion numérique ?</h1>
        </div>
    </div>
</div>
<section id="accueil-strategie" class="py-5 tool-accueil">
    <div class="container-fluid">
        <div class="row">
            <div class="tool-accueil-title pb-5">
                <h2>Qu’allez-vous trouver ici ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-11 max1200">
                <div class="row">
                    <div class="col-md-6 col-12 mb-4">
                        <p class="big"> Cette page vous donne accès à une boîte à outils rassemblant un ensemble de ressources qui vous permettra d’élaborer chaque étape de votre stratégie d’inclusion numérique.  </p>
                    </div>
                    <div class="col-md-6 col-12">
                    </div>
                    <div class="col-md-6 col-12">
                        <p>5 étapes à suivre : </p>
                        <p class="text-uppercase mb-1">étape 1</p>
                        <a href="#step1" class="primary-button mb-2 px-4 row">
                            <p class="col-10">Convaincre de l'importance de l'inclusion numérique</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <p class="text-uppercase mb-1">étape 2</p>
                        <a href="#step2" class="primary-button mb-2 px-4 row">
                            <p class="col-10">Connaître les publics-cibles et leur donner envie de se former</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <p class="text-uppercase mb-1">étape 3</p>
                        <a href="#step3" class="primary-button mb-2 px-4 row">
                            <p class="col-10">Identifier les dispositifs d'accompagnement des publics sur son territoire</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <p class="text-uppercase mb-1">étape 4</p>
                        <a href="#step4" class="primary-button mb-2 px-4 row">
                            <p class="col-10">Repérer les dispositifs de financement mobilisables</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <p class="text-uppercase mb-1">étape 5</p>
                        <a href="#step5" class="primary-button mb-2 px-4 row">
                            <p class="col-10">Mettre en place une gouvernance locale pour permettre une coordination entre les différentes parties prenantes</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-12">
                        <p>Vous trouverez enfin :</p>
                        <a href="#methodo" class="primary-button my-2 px-4 row">
                            <p class="col-10">Une documentation de la méthodologie suivie pour la Stratégie Nationale</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <a href="#methodo" class="primary-button my-4 px-4 row">
                            <p class="col-10">Un kit pour animer des ateliers de travail pour le lancement de votre stratégie</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                        <a href="#methodo" class="primary-button my-4 px-4 row">
                            <p class="col-10">Le rapport synthétisant l’ensemble des contributions lors de la période de consultation ainsi que les recommandations formulées</p>
                            <span class="col-2">
                                <img class="inactive" src="{{ site.url }}/images/bottom-white.svg"></img>
                                <img class="active" src="{{ site.url }}/images/bottom-blue.svg"></img>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include strategie/step1.html %}
{% include strategie/step2.html %}
{% include strategie/step3.html %}
{% include strategie/step4.html %}
{% include strategie/step5.html %}
{% include strategie/methodo.html %}
